body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  max-width: 1280px;
  background-color: black;
  margin: 0 auto;
}

#wrapper {
  background-color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

img {
  display: block;
  clear: both;
  margin: 2em auto;
}

.bgImage {
  background-image: url("images/the-flatiron-building.png");
  width: 100%;
}

.whiteText {
  color: white;
}

.copyright {
  background-color: dimgray;
  text-align: left;
}

.copyright p, .copyright p a {
  font-size: 11px;
  color: white;
}
